<!DOCTYPE html>
<html>
<head>
    <title>Convertidor Monedas</title>
    <meta charset="utf-8"/>
    <link href="bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="../../bower_components/angular/angular.js"></script>
</head>
<body>
<H1>Convertidor de Monedas</H1>
<div name="Convertidor" class="panel-body">
    <br>
    <br>
    <h4>Cantidad:</h4>
   
    <input class="form-control"type="number"></input>
    <h4>Divisa:</h4>
    <select class="form-control">
    <option> (MXN) Pesos Mexicanos </option>
    <option> (EUR) Euros </option>
    <option> (GBP) Libra Esterlina  </option>
    <option> (CNY) Yuan </option>
    <option> (BRL) Real Brasil </option>
    
    </select>
    <br>
    <br>
    <button type="button" class="btn btn-default">Convertir</button>
    <br>
    
    <div name="Conversiones" class="container">
    <br>
    <label>EUR:</label>
    <br>
    <label>GBP:</label>
    <br>    
    <label>MXN:</label>
    <br>    
    <label>CNY:</label>
    <br>    
    <label>BRL:</label>
    </div>
</div>
</body>
    
</html>
