<!DOCTYPE html>
<html ng-app="examenCurrencyApp">

<head>
    <title>Convertidor Monedas</title>
    <meta charset="utf-8"/>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="../../bower_components/angular/angular.js"></script>

    <script src="../../app/scripts/app.js"></script>
</head>
<body ng-controller="listaTodoController">
  <div class="page-header">
    <H1>Convertidor de Monedas</H1>
  </div>
<div name="Convertidor" class="panel-body">
    <form class="form-inline">
      <div class="form-group">
        <label for="cuenta">Cantidad:</label>
        <input type="number" class="form-control" id="cantidad" ng-model="resultado.valor">
      </div>
      <div class="form-group">
        <label for="cuenta">Divisa:</label>
        <select class="form-control" id="moneda" ng-model="moneda">
          <option ng-repeat="moneda in monedas"> ({{moneda.abreviacion}}) {{moneda.nombre}} </option>

        </select>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-default" ng-click="showme=true">Convertir</button>
      </div>
      <table class="table" ng-show="showme">
          <thead>
              <tr>
                  <th>Abreviacion</th>
                  <th ng-click="orderByMe('cuenta')">Moneda</th>
                  <th ng-click="orderByMe('departamento')">Valor</th>

              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="moneda in monedas | filter:test | orderBy:myOrderBy">
              <!--{{ todo.empleados.length | number }}-->
              <td>{{moneda.abreviacion}}</td>
              <td><img src="{{moneda.bandera}}" class="banderas" style="width:25px;height:16px;"> {{moneda.nombre}}</td>
              <td>{{ convertir(resultado.valor,moneda.valor) }}</td>
              </tr>
          </tbody>
      </table>
    </div>
</body>

</html>
